{% extends 'base.html' %}

{% block content %}
 <div class="bg-red-100 p-4 rounded-lg" >
        <h1 class="text-lg font-bold text-red-600 text-center" id="Mision"> Lista de Foros</h1>
    </br>
        <div class="flex items-center justify-center" >
          <ul  class="mt-2 text-gray-600 font-semibold">
    {% for forum in forums %}
      <li><a href="{% url 'chat_detail' forum.id %}">{{ forum.title }}</a></li>
    {% endfor %}
  </ul>
      </br>
      
        </div>
    </div>
  
{% endblock %}