{% load static %}

<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">   
    <title>Cero Ficcion</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="#" class="flex items-center">
            <img src="https://i.postimg.cc/4NYJkXsT/icono.jpg"  class="h-11 mr-3" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-cyan-700  dark:text-white">Cero Ficcion</span>
        </a>
        <div class="flex items-center">
            <a href="login/" class="font-semibold text-blue-600 dark:text-blue-500 text-2x1 hover:underline">Login</a>
        </div>
    </div>
</nav>
<nav class="bg-white dark:bg-gray-700">
    <div class=" max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center bg-gray-200 p-4 rounded-lg">
            <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Aulas</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Foros</a>
                </li>
                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 pl-3 pr-4 py-2 md:hover:text-blue-700 md:p-0 font-medium flex items-center justify-between w-full md:w-auto">Ayuda<svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
                <div id="dropdownNavbar" class="hidden bg-white text-base z-10 list-none divide-y divide-gray-100 rounded shadow my-4 w-44">
                    <ul class="py-1" aria-labelledby="dropdownLargeButton">
                    <li>
                        <a href="https://www.politecnicojic.edu.co/acerca-de-admisiones/148-vicerrectoria-de-docencia-e-investigacion/direccion-de-investigacion-y-posgrados/grupos-de-investigacion/grupo-enfocar/semillero-0-ficcion" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Conocenos</a>
                    </li>
                    <li>
                        <a href="mailto:esteban_jaramillo23221@elpoli.edu.com" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2" >Soporte</a> </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
    </div>

    <div class="mt-8 p-4 grid grid-cols-2 gap-4">
        <div class="bg-yellow-100 p-4 rounded-lg">
            <h2 class="text-lg font-semibold text-yellow-800" id="descripcion">Descripción</h2>
            <p class="mt-2 text-gray-600">La investigación en la Facultad de Comunicación Audiovisual requiere de un nicho que tenga propósitos
                 y genere productos diferentes a los que se conciben a través de los ejercicios investigativos clásicos. La investigación se propone 
                 a través de la creación de piezas audiovisuales del género documental como forma propositiva de la construcción de conocimiento en 
                 nichos que deben dar cuenta de su trabajo a través de productos emblemáticos en el campo audiovisual al interior de la academia.
            </p>
            
        </div>
        <div class="bg-green-100 p-4 rounded-lg">
            <h2 class="text-lg font-semibold text-green-800" id="Mision">Mision</h2>
            <p class="mt-2 text-gray-600">Posicionar el documental como una herramienta de investigacion y creacion alternativa de 
              la faciltad de comunicacion audiovisual de PCJIC</p>
            </br>
            <h2 class="text-lg font-semibold text-green-800" id="objetivo general">Vision</h2>
             <p class="mt-2 text-gray-600">Generar productos audiovisuales en el género documental que posicionen a la Facultad de Comunicación 
                Audiovisual y el PCJIC en el medio nacional e internacional como un espacio de investigación de vanguardia y relevancia para su contexto.</p>
        </div>
    </div>

    <div class="bg-red-100 p-4 rounded-lg" >
        <h1 class="text-lg font-semibold text-red-600 text-center" id="Mision">Cortometrajes hechos por la comunidad</h1>
    </br>
        <div class="flex items-center justify-center" >
                <iframe width="720" height="468" src="https://www.youtube.com/embed/erbZiaKwoaA?si=u_b2k1YWDJZzeOUM" title="video del cortometraje" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="justify-center inset-24 align-top "></iframe>
        </div>
        <p class="mt-2 text-gray-600">Este documental etnográfico explora el fenómeno del éxodo venezolano en Medellín a
             través de entrevistas reflexivas con personas que han llegado de Venezuela. Los personajes principales se 
             ganan la vida de diferentes maneras, desde vender comida callejera hasta preparar y vender café. A lo largo 
             de sus historias, se revela cómo enfrentan los desafíos de la migración y cómo encuentran apoyo y comunidad 
             en Medellín. Cada personaje aporta una perspectiva única sobre el impacto de la crisis venezolana en sus 
             vidas y en su adaptación a un nuevo entorno</p>
    </div>
</body>
</html>